<ul class = "post_comment">
<% post.comments.each do |comment| %>
  <li>
    <%= link_to comment.user_name, user_path(comment.user) %> :
    <span class="comment"><%= comment.text %></span>
    <% if comment.user == current_user %>
      <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_comment_path(post_id: post.id, id: comment.id), class: 'comment_delete', method: :delete, remote: true %>
    <% end %>
  </li>
  <div class="line"></div>
<% end %>
</ul>

<hr>

<% if user_signed_in? %>
  <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post, remote: true, html: { class: 'form-inline' } do |f| %>
    <div class="inline-form">
      <%= f.input :text, label: false, placeholder: 'Add a comment...', class: 'form-control' %>
      <%= f.submit 'Post', class: 'btn btn-primary', method: :post %>
    </div>
  <% end %>
<% end %>
